.disabled:after {
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(255,0,0,.2);
	content: ' ';
	top: 0px;
	left: 0px;
	z-index: 99;
}

#MonsterBlockDiv {
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(255,0,0,.2);
	top: 0px;
	left: 0px;
	z-index: 99;
	text-align: center;
}

	#MonsterBlockDiv div.monsterAlert {
		color: red;
		-webkit-transform: rotate(-45deg);
		font-size: 2.0em;
		font-weight: bold;
		width: 201px;
		height: 40px;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -100px;
		margin-top: -20px;
	}

	#MonsterBlockDiv div.runDiv {
		position: absolute;
		bottom: -10px;
		width: 50px;
		left: 50%;
		margin-left: -25px;
		z-index: 100;
	}

div#MessageLogDiv {
	margin-top: 20px;
}

	div#MessageLogDiv .alert {
		margin-bottom: 5px;
	}


#AlertDiv {
	width: 500px;
	height: 200px;
	margin: 0 auto;
	background: #f7f7f7;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -250px;
	margin-top: -100px;
	z-index: 100;
	text-align: center;
	display: none;
	border: solid 2px red;
}

#AlertMsg {
	text-align: center;
	line-height: 160px;
}

.statusAlert {
	background-color: rgba(255, 0, 0, .3);
}

.itemImg {
	max-height: 70px;
	min-width: 40px;
	min-height: 35px;
	position: relative;
	transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	box-shadow: rgba(0,0,0,0.5) 0px 0px 9px;
	border-radius: 6px;
}

	.itemImg:hover {
		-webkit-transform: scale(2.0);
		-moz-transform: scale(2.0);
		transform: scale(2.0);
		z-index: 10;
	}

#MonstersDiv .itemImg {
	max-height: 99px;
}

div.card {
	padding: 10px;
	border: solid 1px Gray;
	border-radius: 4px;
	margin-top: 5px;
	margin-bottom: 5px;
	position: relative;
}

ul.lootList {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

	ul.lootList li div.lootCard h4 {
		margin: 0;
	}

div.lootCardVerbs {
	text-align: right;
}

div.cardImgDiv {
	text-align: right;
}

.growl-animated {
  -webkit-transition: top 0.5s ease-in-out;
  -moz-transition: top 0.5s ease-in-out;
  -o-transition: top 0.5s ease-in-out;
  -ms-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
}