.disabled:after {
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: Black;
	opacity: .2;
	content: ' ';
	top: 0px;
	left: 0px;
	z-index: 99;
}

}

div#MessageLogDiv {
	margin-top: 20px;
}

	div#MessageLogDiv .alert {
		margin-bottom: 5px;
	}


#AlertDiv {
	width: 500px;
	height: 200px;
	margin: 0 auto;
	background: #f7f7f7;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -250px;
	margin-top: -100px;
	z-index: 100;
	text-align: center;
	display: none;
	border: solid 2px red;
	opacity: .8;
}

#AlertMsg {
	text-align: center;
	line-height: 160px;
}

.statusAlert {
	background-color: rgba(255, 0, 0, .3);
}

.itemImg {
	max-height: 70px;
	min-width: 40px;
	min-height: 35px;
	position: relative;
	transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	z-index: 1;
}

	.itemImg:hover {
		-webkit-transform: scale(2.0);
		-moz-transform: scale(2.0);
		transform: scale(2.0);
		z-index: 5;
	}

	ul.lootList {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	ul.lootList li div.lootCard h4 {
		margin: 0;
	}

	ul.lootList li div.lootCard {
		padding: 10px;
		border: solid 1px Gray;
		border-radius: 4px;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	div.lootCardVerbs {
		text-align: right;
	}

	/*ul.lootList div.verbLinkContainer {
		text-align: right;
		padding-right: 2px;
	}*/